@import url('schedule.css');
@import url('roster.css');
@import url('history.css');
@import url('records.css');
@import url('champions.css');
@import url('articles.css');

@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-image: url("../Images/helmet images.jpg");
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
}

/* Header */
/*.header-title h1 {
   background: linear-gradient(#1B2631,#34495E);
   color: #fff;
   text-shadow: -1px 0 maroon, 0 1px maroon, 1px 0 maroon, 0 -1px maroon;
   width: 75%;
   margin: auto;
   padding: 5px 0;
}*/

.main-header {
   background: url('../Images/header-img.png') no-repeat center center/cover;
   width: 75%;
   height: 60vh; 
   margin: auto;
}

@media (max-width: 1024px) {
   .main-header {
      height: 25vh;
   }
}

@media (max-width: 820px) {
   .main-header { 
      width: 100%;
      height: 35vh;
   }
   .header-title h1 {
      width: 100%;
      font-size: 18px;
   }
}

@media (max-width: 600px) {
   .main-header {
      width: 100%;
      height: 25vh;
   }
   .header-title h1 {
      width: 100%;
      font-size: 18px;
   }
}

/* Navbar */
nav ul {
   width: 100%;
   margin: auto;
   list-style-type: none;
   display: none;
}

nav ul a {
   display: block;
   background: #0d1317;
   padding: 20px;
   font-size: 17px;
   text-decoration: none;
   text-transform: uppercase;
   color: #fff;
   transition: color 2s ease,background 2s ease,padding 2s ease;
}

nav ul a:hover {
   color: #ccc;
   padding-left: 30px;
}

.nav-container {
   align-self: center;
}

.nav-container {
   width: 100%;
   height: 60px;
   margin: auto;
   background: linear-gradient(#34495E,#1B2631);
   display: flex;
   justify-content: flex-end;
}

.logo {
   margin-left: 5px;
}

.bar {
   width: 35px;
   height: 3px;
   margin: 7px;
   background: #fff;
   margin: 4px;
}

.btn {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 10px;
   margin-top: 14px;
}

@media screen and (min-width:768px){
  .nav-container {
     display: none;
  }

  nav ul {
     width: 75%;
     margin: auto;
     display: flex!important;
     flex-wrap: wrap;
     justify-content: center;
     background: linear-gradient(#34495E,#1B2631);
  }

  nav ul a {
     background: transparent;
     font-size: 16px;
  }
  nav ul a:hover {
     background: linear-gradient(#1b2631,#34495e);
     padding-left: 20px;
  }
}

.beavers-logo {
   background: #fff;
   width: 75%;
   margin: auto;
}

@media (max-width: 820px) {
   nav ul {
      width: 100%;
}
}

.beavers-logo img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

/* Championships Container */
.top-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background: #fff;
   width: 75%;  
   margin: auto;
} 

.top-container p {
   margin-top: 10px;
   font-weight: bold;
   color: #333;
}

@media (max-width: 820px) {
 .beavers-logo {
    width: 100%;
 }

 .top-container {
      width: 100%;
   }
}

/* Fight Song Audio Player */
#audio, #audio-2 {
   background: #fff;
   width: 75%;
   margin: auto;
   padding: 10px 0;
   margin: 10px 0;
 }
 
 #audio, #audio-2 h5 {
   text-align: center;
 }
 
 div audio {
   display: block;
   margin: 10px auto;
   height: 25px;
   border-radius: 50px;
   box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.5);
   outline: none;
 }
 
 @media (max-width: 600px) {
   #audio {
     width: 75%;
   }
 }
 
 @media (max-width: 400px) {
   div audio {
     width: 75%;
   }
 }
 
/* Countdown Timer */
.countdown {
   width: 75%;
   background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('../Images/mitchell.jpg') no-repeat center center/cover;
   margin: auto;
   justify-content: center;
   text-align: center;
   padding: 30px 0;
}

.countdown h1 {
   font-size: 2rem;
}

.teams {
   width: 75%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}

.opponent-text {
   color: #6b0e16;
   font-weight: 100;
   text-shadow: -1px 0 #d9a827, 0 1px #d9a827, 1px 0 #d9a827, 0 -1px #d9a827;
}

.team-card {
   width: 35%;
}

.team-card img {
   width: 55%;
}

.team-card .opponent-img {
   width: 45%;
}

.card-text {
   margin-top: 10px;
}

#home-text {
   margin-top: 20px;
}

.team-card h2 {
   color: #fff;
   margin: 3px 0;
}

/*.team-3 {
   color: #000;
   font-weight: 100;
   margin: 40px 0px 20px;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}*/

.vs {
   color: #fff;
   font-weight: bold;
   margin: 20px 40px;
} 

.date {
   color: #fff;
   margin-top: 20px;
}

.date h2 {
   font-family: 'Roboto', sans-serif;
}

.date h3 {
   margin-top: 5px;
}

.date p {
   font-weight: bold;
   margin: 3px 0;
}

#clockdiv { 
   margin: 20px 0;
   font-family: 'Orbitron', sans-serif; 
   color: #fff; 
   display: inline-block; 
   font-weight: 100; 
   text-align: center; 
   font-size: 30px;
 } 

#clockdiv > div { 
   padding: 10px; 
   border-radius: 3px; 
   background: maroon;
   border: 2px solid #fff; 
   display: inline-block; 
}
 
#clockdiv div > span { 
   padding: 15px; 
   border-radius: 3px; 
   background: #1B2631;
   display: inline-block; 
}

smalltext { 
   padding-top: 5px; 
   font-size: 16px; 
}

@media (max-width: 1024px) {
   #clockdiv {
      font-size: 24px;
   }
}

@media (max-width:820px) {
   #home-text {
      margin-top: 18px;
   }

   .countdown {
      width: 100%;
   }

   #clockdiv {
      font-size: 16px;
   }
}

@media (max-width: 670px) {
   #clockdiv {
      display: flex;
      font-size: 10px;
      margin-left: auto;
      margin-right: auto;
      display: block;
   }

  .team-card img {
     width: 75%;
  }

  .team-card .opponent-img {
     width: 55%;
  }

  .team-card h1 {
     font-size: 1.2rem;
  }
}

@media (max-width: 450px) {
   .team-card h1 {
      font-size: 1rem;
   }

   .team-card h2 {
      font-size: 0.9rem; 
   }
}

/* Banner */
.banner {
   background: url('../Images/banner-pic.jpg') no-repeat center center/cover;
   width: 75%;
   margin: auto;
   height: 60vh;
}

.banner-text {
   display: flex;
   justify-content: space-between;
   margin-left: 75px;
}

.banner-text h1 {
   margin: 15px 100px;
}

@media (max-width: 1024px) {
   .banner h1 {
      display: none;
   }
}

@media (max-width: 820px) {
   .banner {
      width: 100%;
      height: 25vh;
   }
}

@media (max-width: 600px) {
   .banner {
      width: 100%;
      height: 20vh;
   }
}

/* Footer */
.footer {
   width: 75%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 10px 0;
   background: linear-gradient(#34495E,#1B2631);
}

.footer p {
   margin: 0 10px;
   color: #f1f1f1;
}

.footer img {
   margin-right: 10px;
}

.footer img:hover {
   transform: scale(0.98);
}

@media (max-width: 820px) {
   .footer {
      width: 100%;
   }
}

/* Utility Classes */
h1 { 
   font-family: 'Orbitron', sans-serif;
   text-align: center;
   display: block;
   color: maroon; 
   font-weight: 100; 
   font-size: 30px; 
   margin: 0; 
   padding: 0;
   text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
} 

h2 {
   font-family: 'Orbitron', sans-serif;
}
