@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
    font-family: 'Poppins', sans-serif;
}

.container {
    padding: 25px;
}

.container h3 {
    text-align: center;
    font-weight: 400;
    margin-top: 25px;
}

.container h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    display: block;
    color: maroon;
    font-weight: 100;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff ;
}

.table {
    width: 400px;
    margin: 10px auto;
}

.season-table {
    width: 400px;
}

th[scope="col"] {
    background: maroon;
    color: #fff;
}

tr {
    background: #fff;
}

td {
    text-align: center;
}

.form-group {
    margin-top: 25px;
}

.form-group input {
    display: block;
    margin: 10px auto;
    width: 300px;
    height: 30px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    outline: none;
}

#no-results {
    text-align: center;
    display: none;
}

#match-list {
    margin: 50px auto;
    padding: 0 25px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 25px;
}

#match-list .card {
    width: 99%;
    margin: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#match-list .card .year-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: maroon;
    color: #fff;
    padding: 5px 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#match-list .card .results {
    margin-top: 10px;
    padding: 0 10px;
}

#match-list .card .game {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#match-list .card .playoff {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
}

#match-list .card h6 {
    margin: 5px 0;
    font-size: 0.8rem;
    font-weight: 600;
}

@media (max-width: 600px) {
    #match-list {
        justify-content: center;
    }

    .table {
        width: 100%;
    }

    .season-table {
        width: 350px;
    }
}

 

    
 
 
