/* Records */
.records {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    background: #ccc;
    padding: 15px 0;
 }
 
 .records .table {
    width: 400px;
    margin: 20px 0;
 }
 
 .records-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 20px auto;
    background: #ccc;
 }
 
 caption {
    color: #333;
    font-weight: bold;
 }
 
 th[scope="col"] {
     background-color: maroon;
     color: #fff;
 }
 
 th[scope="row"] {
     background-color: #fff;
 }
 
 tr {
     background-color: #fff;
 }
 
 td, th {
    padding: 3px;
 }
 
 td {
    text-align: center;
 }
 
 @media (max-width: 1125px) {
    .records-container {
       grid-template-columns: repeat(2, 1fr);
    }
 }
 
 @media (max-width: 817px) {
    .records-beavers-logo {
       width: 100%;
    }
 
    .records {
       width: 100%;
    }
 }
 
 @media (max-width: 643px) {
    .records-container {
       grid-template-columns: 1fr;
    }
 }
 
 @media (max-width: 500px) {
    .records .table {
       width: 300px;
    }
 }
 
 