@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('../img/helmet images.jpg');
}

.schedule {
    background: linear-gradient(rgba(128, 0, 0, 0.9),rgba(128, 0, 0, 0.9)),url('../Images/stadium.jpg') no-repeat fixed center center/cover;
    width: 75%;
    margin: auto;
    padding: 25px;
    background-blend-mode: multiply;
}

.schedule-header h1 {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2.5rem;
    font-weight: 300;
    color: #660000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.schedule-header h2 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    letter-spacing: 2px;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin-top: 25px;
}

.schedule-container {
    margin-top: 45px;
}

.regular-season {
    display: flex;
}

.column, .column-2 {
    width: 100%;
    margin: 10px 0;
}

.column img, .column-2 img {
    width: 85%;
    margin: 20px auto;
    display: flex;
}

.playoffs {
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.playoffs img {
    width: 45%;
    margin: 10px 0;
}

@media (max-width: 912px) {
    .schedule {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .schedule-header h1 {
        font-size: 2rem;
    }

    .schedule-header h2 {
        font-size: 1.5rem;
    }

    .schedule-header:nth-child(5) {
        margin-top: 35px;
    }

    .regular-season {
        flex-direction: column;
    }

    .column {
        margin-top: 5px;
    }

    .column-2 {
        margin-top: -35px;
    }

    .column img, .column-2 img {
        width: 95%;
    }

    .playoffs {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .playoffs img {
        width: 95%;
    }
}

/** Icon Section **/
.icon-section {
    background: #ccc;
    width: 75%;
    margin: auto;
    padding: 25px 0;
}

.icon-section .believe {
    font-family: 'Playball', cursive;
    font-size: 4rem;
    color: #660000;
}

.heading-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.heading-div h1 {
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-size: 3rem; 
    font-weight: bold;
    color: #660000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.icon-div .fas {
    color: #660000;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.icon-image {
    width: 50%;
}

.icon-section img {
    width: 50%;
    display: block;
    margin: 15px auto;
}

.icon-section .believe-img {
    margin: 15px auto;
}

@media (max-width: 1024px) {
    .icon-div .fas {
        font-size: 4rem;
    }
    
    .icon-section img {
        width: 75%;
    }
}

@media (max-width: 912px) {
    .icon-section {
        width: 100%;
    }

    .heading-div h1 {
        font-size: 2rem;
    }

    .icon-div .fas {
        font-size: 5rem;
    }
}

@media (max-width: 600px) {
.icon-div .fas {
    font-size: 3rem;
}

.heading-div h1 {
    font-size: 3rem;
   }
}
